tree {

position: relative; height: 50vmin; width: 25vmin; transform-style: preserve-3d; -webkit-animation: spin 2s infinite linear; animation: spin 2s infinite linear;

.tree__light {

transform-style: preserve-3d;

position: absolute;

height: 1vmin;

width: 1vmin;

border-radius: 50%;

transform: translate(-50%, 50%) rotateY(calc(var(--rotate, 0) * 1deg));

bottom: calc(var(--y, 0) * 1%);
}
